<h1>Listing Things</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Other name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for thing <- @things do %>
    <tr>
      <td><%= thing.name %></td>
      <td><%= thing.number %></td>
      <td><%= thing.other_name %></td>

      <td>
        <%= link "Show", to: Routes.thing_path(@conn, :show, thing) %>
        <%= link "Edit", to: Routes.thing_path(@conn, :edit, thing) %>
        <%= link "Delete", to: Routes.thing_path(@conn, :delete, thing), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Thing", to: Routes.thing_path(@conn, :new) %></span>
